<div class="card-deck">
	<div class="card-group">
<div class="card" >
  <div class="card-body">
    <h5 class="card-title">Pregunta 1</h5>
    <p class="card-text">Si: {{_ds.consultas[indexSelected].votacion[0].vot[0].vga}}</p> 
    <p class="card-text">No: {{_ds.consultas[indexSelected].votacion[0].vot[1].vga}} </p>
    <p class="card-text">Válidos: {{_ds.consultas[indexSelected].votacion[0].gen.vva}} </p>
    <p class="card-text">Nulos: {{_ds.consultas[indexSelected].votacion[0].gen.vnu}} </p>
    <p class="card-text">No Marcados: {{_ds.consultas[indexSelected].votacion[0].gen.tnm}}</p>
    <p class="card-text">Total:{{_ds.consultas[indexSelected].votacion[0].gen.tot}}</p>
  </div>

</div>


<div class="card" >
  <div class="card-body">
    <h5 class="card-title">Pregunta 2</h5>
<p class="card-text">Si: {{_ds.consultas[indexSelected].votacion[1].vot[0].vga}}</p>
    <p class="card-text">No: {{_ds.consultas[indexSelected].votacion[1].vot[1].vga}}</p>
    <p class="card-text">Válidos: {{_ds.consultas[indexSelected].votacion[1].gen.vva}}</p>
    <p class="card-text">Nulos: {{_ds.consultas[indexSelected].votacion[1].gen.vnu}}</p>
    <p class="card-text">No Marcados: {{_ds.consultas[indexSelected].votacion[1].gen.tnm}}</p>
    <p class="card-text">Total:{{_ds.consultas[indexSelected].votacion[1].gen.tot}}</p>
  </div>
</div>



<div class="card" >
  <div class="card-body">
    <h5 class="card-title">Pregunta 3</h5>
<p class="card-text">Si: {{_ds.consultas[indexSelected].votacion[2].vot[0].vga}}</p>
    <p class="card-text">No: {{_ds.consultas[indexSelected].votacion[2].vot[1].vga}}</p>
    <p class="card-text">Válidos: {{_ds.consultas[indexSelected].votacion[2].gen.vva}}</p>
    <p class="card-text">Nulos: {{_ds.consultas[indexSelected].votacion[2].gen.vnu}}</p>
    <p class="card-text">No Marcados: {{_ds.consultas[indexSelected].votacion[2].gen.tnm}}</p>
    <p class="card-text">Total:{{_ds.consultas[indexSelected].votacion[2].gen.tot}}</p>
  </div>
</div>




<div class="card" >
  <div class="card-body">
    <h5 class="card-title">Pregunta 4</h5>
<p class="card-text">Si: {{_ds.consultas[indexSelected].votacion[3].vot[0].vga}}</p>
    <p class="card-text">No: {{_ds.consultas[indexSelected].votacion[3].vot[1].vga}}</p>
    <p class="card-text">Válidos: {{_ds.consultas[indexSelected].votacion[3].gen.vva}}</p>
    <p class="card-text">Nulos: {{_ds.consultas[indexSelected].votacion[3].gen.vnu}}</p>
    <p class="card-text">No Marcados: {{_ds.consultas[indexSelected].votacion[3].gen.tnm}}</p>
    <p class="card-text">Total:{{_ds.consultas[indexSelected].votacion[3].gen.tot}}</p>
  </div>
</div>



<div class="card" >
  <div class="card-body">
    <h5 class="card-title">Pregunta 5</h5>
<p class="card-text">Si: {{_ds.consultas[indexSelected].votacion[4].vot[0].vga}}</p>
    <p class="card-text">No: {{_ds.consultas[indexSelected].votacion[4].vot[1].vga}}</p>
    <p class="card-text">Válidos: {{_ds.consultas[indexSelected].votacion[4].gen.vva}}</p>
    <p class="card-text">Nulos: {{_ds.consultas[indexSelected].votacion[4].gen.vnu}}</p>
    <p class="card-text">No Marcados: {{_ds.consultas[indexSelected].votacion[4].gen.tnm}}</p>
    <p class="card-text">Total:{{_ds.consultas[indexSelected].votacion[4].gen.tot}}</p>
  </div>
</div>



<div class="card" >
  <div class="card-body">
    <h5 class="card-title">Pregunta 6</h5>
<p class="card-text">Si: {{_ds.consultas[indexSelected].votacion[5].vot[0].vga}}</p>
    <p class="card-text">No: {{_ds.consultas[indexSelected].votacion[5].vot[1].vga}}</p>
    <p class="card-text">Válidos: {{_ds.consultas[indexSelected].votacion[5].gen.vva}}</p>
    <p class="card-text">Nulos: {{_ds.consultas[indexSelected].votacion[5].gen.vnu}}</p>
    <p class="card-text">No Marcados: {{_ds.consultas[indexSelected].votacion[5].gen.tnm}}</p>
    <p class="card-text">Total:{{_ds.consultas[indexSelected].votacion[5].gen.tot}}</p>
  </div>
</div>



<div class="card" >
  <div class="card-body">
    <h5 class="card-title">Pregunta 7</h5>
<p class="card-text">Si: {{_ds.consultas[indexSelected].votacion[6].vot[0].vga}}</p>
    <p class="card-text">No: {{_ds.consultas[indexSelected].votacion[6].vot[1].vga}}</p>
    <p class="card-text">Válidos: {{_ds.consultas[indexSelected].votacion[6].gen.vva}}</p>
    <p class="card-text">Nulos: {{_ds.consultas[indexSelected].votacion[6].gen.vnu}}</p>
    <p class="card-text">No Marcados: {{_ds.consultas[indexSelected].votacion[6].gen.tnm}}</p>
    <p class="card-text">Total:{{_ds.consultas[indexSelected].votacion[6].gen.tot}}</p>
  </div>
</div>
</div>
</div>